In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'resources/election_data.csv'
original = pd.read_csv(file)
original.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [3]:
votecount = original['Voter ID'].count()

In [7]:
candidatevotes = original['Candidate'].value_counts()
candidates = pd.DataFrame(candidatevotes)
candidates.columns=['Votes']

candidates

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [ ]:
percentofvote = (candidatevotes/votecount)*100
percent = percentofvote.round(2)
percent

In [ ]:
print('Election Results')
print('--------------------------')
print('Total votes: ' + str(votecount))
print('')