In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'resources/election_data.csv'
original = pd.read_csv(file)
original.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [3]:
votecount = original['Voter ID'].count()

In [4]:
candidatevotes = original['Candidate'].value_counts()
candidates = pd.DataFrame(candidatevotes)
candidates.columns=['Votes']

candidates

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [5]:
percent = ((candidates/votecount)*100).round(2)
candidates['Percent'] = percent
candidates

            Votes  Percent
Khan      2218231     63.0
Correy     704200     20.0
Li         492940     14.0
O'Tooley   105630      3.0

In [7]:
winner = candidates.sort_values('Percent', ascending=False)
winner

            Votes  Percent
Khan      2218231     63.0
Correy     704200     20.0
Li         492940     14.0
O'Tooley   105630      3.0

In [8]:
winner = winner.reset_index(drop=True)
elected = winner.loc[0, :]
elected

Votes      2218231.0
Percent         63.0
Name: 0, dtype: float64

In [6]:
print('Election Results')
print('--------------------------')
print('Total votes: ' + str(votecount))
print('--------------------------')
print(str(candidates))

Election Results
--------------------------
Total votes: 3521001
--------------------------
            Votes  Percent
Khan      2218231     63.0
Correy     704200     20.0
Li         492940     14.0
O'Tooley   105630      3.0