In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file = 'resources/election_data.csv'
original = pd.read_csv(file)
original.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [3]:
votecount = original['Voter ID'].count()

In [4]:
candidatevotes = original['Candidate'].value_counts()
candidates = pd.DataFrame(candidatevotes)
candidates.columns=['Votes']

candidates

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [5]:
candidates_list = candidates.index.tolist()
votesbycandidate = candidates.iloc[:, 0].tolist()
votesbycandidate

[2218231, 704200, 492940, 105630]

In [6]:
percent = ((candidates/votecount)*100).round(2)
candidates['Percent'] = percent
candidates

            Votes  Percent
Khan      2218231     63.0
Correy     704200     20.0
Li         492940     14.0
O'Tooley   105630      3.0

In [7]:
percent_list = candidates.iloc[:, 1].tolist()
percent_list

[63.0, 20.0, 14.0, 3.0]

In [8]:
election = pd.DataFrame({
    'Candidate': candidates_list,
    'Votes': votesbycandidate,
    'Percent': percent_list
})

winner_df = election.set_index('Votes')
winner_votes = max(votesbycandidate)
winner = winner_df.loc[winner_votes].Candidate

In [9]:
winner

'Khan'

In [10]:
print('Election Results')
print('--------------------------')
print('Total votes: ' + str(votecount))
print('--------------------------')
print(str(election))
print('--------------------------')
print('Winner: ' + str(winner))

Election Results
--------------------------
Total votes: 3521001
--------------------------
  Candidate    Votes  Percent
0      Khan  2218231     63.0
1    Correy   704200     20.0
2        Li   492940     14.0
3  O'Tooley   105630      3.0
--------------------------
Winner: Khan

In [11]:
txt = open('Hanson_polls.txt', 'w+')

txt.write('Election Results' + '\n')
txt.write('--------------------------' + '\n')
txt.write('Total Votes: ' + str(votecount) + '\n')
txt.write('--------------------------' + '\n')
txt.write(str(election) + '\n')
txt.write('--------------------------' + '\n')
txt.write('Winner: ' + str(winner))

12